version: '3.8'

services:
  server:
    container_name: server
    build:
      context: ./server
      dockerfile: dockerfile
    ports:
      - "8080:8080"

  client:
    container_name: client
    build:
      context: ./client
      dockerfile: dockerfile
    ports:
      - "5173:5173" 
    depends_on:
      - server